---
import { razer, logitech, ducky } from "../../../public/products/keyboard.json";
import Product from "./Product.astro";

const { blackwidow, deathstalker, huntsman } = razer;
const { gpro, g513, g910 } = logitech;
const { one2mini, originvintage, outlaw65 } = ducky;
---

<h2>LOGITECH</h2>
<section class="brand-products">
    <Product
        name={gpro.name}
        description={gpro.description}
        image={gpro.image}
        originalPrice={gpro["original-price"]}
        offertPrice={gpro["offert-price"]}
        brand={gpro.brand}
        page={gpro.page}
    />
    <Product
        name={g513.name}
        description={g513.description}
        image={g513.image}
        originalPrice={g513["original-price"]}
        offertPrice={g513["offert-price"]}
        brand={g513.brand}
        page={g513.page}
    />
    <Product
        name={g910.name}
        description={g910.description}
        image={g910.image}
        originalPrice={g910["original-price"]}
        offertPrice={g910["offer-price"]}
        brand={g910.brand}
        page={g910.page}
    />
</section>

<h2>DUCKY</h2>
<section class="brand-products">
    <Product
        name={one2mini.name}
        description={one2mini.description}
        image={one2mini.image}
        originalPrice={one2mini["original-price"]}
        offertPrice={one2mini["offert-price"]}
        brand={one2mini.brand}
        page={one2mini.page}
    />
    <Product
        name={originvintage.name}
        description={originvintage.description}
        image={originvintage.image}
        originalPrice={originvintage["original-price"]}
        offertPrice={originvintage["offert-price"]}
        brand={originvintage.brand}
        page={originvintage.page}
    />
    <Product
        name={outlaw65.name}
        description={outlaw65.description}
        image={outlaw65.image}
        originalPrice={outlaw65["original-price"]}
        offertPrice={outlaw65["offert-price"]}
        brand={outlaw65.brand}
        page={outlaw65.page}
    />
</section>

<h2>RAZER</h2>
<section class="brand-products">
    <Product
        name={blackwidow.name}
        description={blackwidow.description}
        image={blackwidow.image}
        originalPrice={blackwidow["original-price"]}
        offertPrice={blackwidow["offert-price"]}
        brand={blackwidow.brand}
        page={blackwidow.page}
    />
    <Product
        name={deathstalker.name}
        description={deathstalker.description}
        image={deathstalker.image}
        originalPrice={deathstalker["original-price"]}
        offertPrice={deathstalker["offert-price"]}
        brand={deathstalker.brand}
        page={deathstalker.page}
    />
    <Product
        name={huntsman.name}
        description={huntsman.description}
        image={huntsman.image}
        originalPrice={huntsman["original-price"]}
        offertPrice={huntsman["offert-price"]}
        brand={huntsman.brand}
        page={huntsman.page}
    />
</section>
<!-- LOGITECH --><!-- three articles --><!-- ZOWIE --><!-- three articles -->

<style>
    .brand-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    @media screen and (max-width: 880px) {
        .brand-products {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
    }
</style>
