---
import More from "../buttons/More.astro";
import AddToCart from "../buttons/AddToCart.astro";
import BrandBanner from "../home/BrandBanner.astro";

interface Props {
    name: string;
    description: string;
    image: string;
    originalPrice: string;
    offertPrice: string;
    brand: string;
    page: string;
}

const { name, description, image, originalPrice, offertPrice, brand, page } =
    Astro.props;
---

<div class="product-card">
    <a href={page}>
        <img src={image} />
    </a>
    <div class="information">
        <h3 class="name">{name}</h3>
        <p class="description">
            {description}
        </p>
        <BrandBanner brand={brand} />
        <div class="buttons">
            <More href={page} />
            <AddToCart />
        </div>
    </div>
</div>
<br class="break" />
