---
import ProductCard from "./ProductCard.astro";

import { zowie } from "../../../public/products/mouse.json";

const { za12c, ec2v2white, ec2c } = zowie;
---

<section class="content">
    <h2>Top Products</h2>
    <section class="cards">
        <ProductCard
            name={za12c.name}
            description={za12c.description}
            img={za12c.image}
            href={za12c.page}
        />
        <ProductCard
            name={ec2v2white.name}
            description={ec2v2white.description}
            img={ec2v2white.image}
            href={ec2v2white.page}
        />
        <ProductCard
            name={ec2c.name}
            description={ec2c.description}
            img={ec2c.image}
            href={ec2c.page}
        />
    </section>
</section>

<style>
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .content {
        text-align: center;
        margin-top: 45px;
    }

    h2 {
        font-size: 2.1rem;
        color: #b5e98a;
        text-shadow: 2px 2px #000;
    }

    @media screen and (max-width: 880px) {
        .cards {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }
    }
</style>
